#/etc/systemd/system/suppress-gpe61.service

[Unit]
Description=Disables GPE 61, an interrupt that is going crazy on MSI

[Service]
ExecStart=/usr/bin/bash -c 'echo "disable" > /sys/firmware/acpi/interrupts/gpe61'

[Install]
WantedBy=multi-user.target
